.previewer-container {
    background-color:skyblue;
    height: auto;
    width: 100%;
    align-items: center;
    padding: 20px 0px;
}

.previewer-header {
    display: block;
    margin: auto;
    width: 802px;
    height: auto;
    padding: 3px 1px;
    background-color: deepskyblue;
    border: 1px;
    border-color: black;
    border-style: solid;
    font-weight: bold;
    font-size: large;
    box-shadow: 0px 0px 15px black;
}

#preview {
    display: block;
    margin: auto;
    width: 800px;
    height: 1000px;
    background-color:lightcyan;
    padding: 2px;
    box-shadow: 0px 0px 15px black;
    object-fit: cover;
}